<!DOCTYPE html>
<html>
  <head>
    <title>CrowdGoal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/top_navbar' %>
    <main >
      <%= yield %>
    </main>
  </body>
</html>
