  <div class="row">
  <div class="col s4"></div>
   <div class="col s4">
      <h4 class="left-align">Register</h4>
      <h6 class="left-align"> It's free and always will be! </h6>
      <%= form_for @user, url: '/register'  do |form| %>
        <% if @user.errors.any? %>
          <ul class="error-message">
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="row">
          <div class="input-field col s12">
            <%= form.text_field :name, class: 'validate', placeholder: 'Full Name'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.email_field :email, class: 'validate', placeholder: 'Email'%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.password_field :password, class: 'validate', placeholder: 'Password' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= form.password_field :password_confirmation, class: 'validate', placeholder: 'Confirm Password' %>
          </div>
        </div>
        <center>
          <%= form.submit 'Register', class: 'btn btn-medium center-align waves-effect waves-light' %>
        </center>
      <% end %>
    </div>
    <div class="col s4"></div>
  </div>


