
<div class="row">
  <section class="col s8">  </section>
  <section class="col s4" style="border-style: 1px solid gray">
    <br>
    <h4 class="center-align">Login</h4>
    <%= form_for @user, url: '/login'  do |form| %>
      <% if @user.errors.any? %>
        <ul class="error-message">
          <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="row">
        <div class="input-field col s12">
          <%= form.email_field :email, class: 'validate' , placeholder: 'Email'%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= form.password_field :password, class: 'validate', placeholder: 'Password' %>
        </div>
      </div>
      <center>
        <%= form.submit 'Login', class: 'btn btn-medium center-align waves-effect waves-light' %>
      </center>
    <% end %>
    <br><br>
    <section class="divider"></section>
    <br><br>
    <div class="center-align">
      <%= link_to register_path, class: 'btn btn-medium center-align waves-effect waves-light no-uppercase' do %> <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; Login with Facebook <% end %>

    </div>
  </section>
</div>






